*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* width: 100vw; */
  min-height: 100vh;
  /* padding: 20px; */
}

.searchbox{
    width: 100%;
    height: 30vh;
    background: rgb(42, 27, 82);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.searchinput{
  width: 60%;
  padding: 20px 50px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.submit{
  width: 5%;
  padding: 20px 50px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  display: flex;
  justify-content: center;
}

.result{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items:center;
  justify-content: center;

  

}